ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.App {
  /* margin: 60px 250px; */
}
.container {
  margin-top: 60px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
